fastapi
uvicorn[standard]
pydantic
# R35: We will use onnxruntime directly.
onnxruntime
# R35: Transformers is still needed for the tokenizer.
transformers
# R35: Jinja2 is needed for the chat template.
Jinja2
# R35: Numpy is needed for manual tensor manipulation.
numpy
